[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/Binario"]
	path = themes/Binario
	url = https://github.com/Vimux/Binario.git
